img {max-width:100%}

a:hover {
  text-decoration: underline;}

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #C2B9D2;}

.navbar {
    font-family: 'Permanent Marker', cursive;
    background-color: #A8B9D2;
    }

a {
  color: #red;}

.jumbotron {
  background-color: #A8B9D2;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  padding-bottom: -10%;
}

.banner {
  text-align: center;
}

.col-lg-6 {
  text-align: left;
}

footer {
  text-align: center;
}